.use-cases-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
  }
  
  .title-uc-container {
    position: absolute;
    top: 0%;
    left: 20%;
  }
.use-cases-title {
  background-image: linear-gradient(51deg, #02a30f, #00a2d4 76%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  word-spacing: 0.5rem;
  font-size: 80px;
  font-family: var(--title-font-family);
}

  .use-case-card {
    background-color: black;
    border: 2px solid #103a12; /* Match with the accent color */
    border-radius: 12px;
    padding: 20px;
    width: 280px;
    height: 260px;
    transition: box-shadow 0.3s ease;
    position: relative;
    color: white;
  }
  
  .use-case-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  }
  
  .icon-title {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .icon-container {
    font-size: 1.5em;
    color: #4caf50; /* Match the accent color */
  }
  
  .use-case-card h3 {
    margin: 0;
    font-size: 1.35em;
    font-family: var(--heading-font-family);
  }
  .use-case-card p {
    margin-top: 15px;
    font-size: 1.1rem;
    font-family: var(--text-font-family);
  }
  
  .description {
    margin-top: 10px;
    color: #ddd;
    font-size: 0.9em;
    opacity: 0;
    transform: translateY(10px);
    animation: fade-in 0.3s forwards ease-in-out;
  }

  .use-case-image{
    width: 100px;
    position: absolute; /* Position images within the container */
    bottom: 5%; /* Align to bottom */
    right: 5%;
    animation: fade-in 0.3s forwards ease-in-out;
  }
  
  @keyframes fade-in {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @media (max-width: 768px) {
    .title-uc-container {
      position: relative;
    }
    .use-cases-title {
      font-size: 50px;
      position: absolute;
      top: -100%;
      left: -15%;
    }
    .title-uc-container>svg{
      width: 300px;
      margin-top: -20px;
    }
    .use-cases-container {
      flex-direction: column;
      align-items: center;
    }
    .use-case-card {
      position: relative;
  }
}