.team-container {
    text-align: center;
    padding: 50px 0; /* Add some vertical spacing */
    background-color: rgb(37, 37, 35);
    padding: 25px;
  }
  
  .team-title {
    font-size: 2.5rem;
    margin-bottom: 40px;
  }
  
  .team-members {
    display: flex; /* Use flexbox to arrange items in a row */
    justify-content: center; /* Center the cards horizontally */
    align-items: flex-start; /* Align cards to the top */
  }
  
  .team-member-card {
    width: 20vw; /* Set card width */
    height: 80vh; /* Set card height */
    background-color: transparent; /* Card color */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
    opacity: 0; /* Start invisible */
    transition: opacity 0.5s; /* Smooth transition for opacity change */
    border-right: 5px solid rgb(255, 255, 255);
    flex-direction: column;

  }
  
  .team-member-image {
    width: 95%;
    height: 75%;;
    object-fit: cover;
    border-bottom: 5px solid #004ab9;
  }

  .team-member-info {
    padding: 10px;
    width: 100%;
    text-align: center;
    color: silver;
  }
  
  .team-member-info > h3 {
    padding: 10px;
    font-size: 25px;
    color: rgb(255, 255, 255);
    font-family: var(--heading-font-family);
  }

  .team-member-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    gap: 15px;
    margin-bottom: 5px;
    color: rgb(255, 255, 255);
    font-family: var(--text-font-family);
  }

  .linkedin-icon {
    width: 30px;
    object-fit: contain;
  }
  .team-member-position {
    font-weight: 500;
    font-size: 20px;
  }
  
  .linkedin-link {
    text-decoration: none;
    color: #0077b5;
    font-weight: bold;
  }

  .call-to-action-text {
    position: absolute;
    bottom: 7%;
    left: 16.5%;
    font-size: 30px;
    font-family: var(--title-font-family);
    color: #0040ff60;
  }

  .call-to-action-text span {
    transition: opacity 0.5s ease-in-out;
    display: inline-block;
  }

  @media (max-width: 600px) {
    .team-container {
      background-color: transparent;
    }
    .team-title {
      display: none;
    }
    .team-members {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .team-member-card {
      width: 100vw;
      height: 70vh;
      opacity: 1;
      border-right: none;
    }
    .call-to-action-text {
      position: absolute;
      bottom: -200%;
      font-size: 25px;
      left: 0;
    }
  
  }